/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f5f5f5;
  margin-bottom: 130px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0px auto -120px;
  padding: 0 0 120px;
}

/* Set the fixed height of the footer here */

#footer {
  height: 130px;
  padding: 10px 0px 10px 0px;
  background-color: #e3e3e3;
  bottom: 0px;
  width: 100%;
  position: absolute;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.mainContainer {
  margin-top: 50px;
}